@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="~/css/register_page_style.css" />
</head>

<section class="register">
    <div class="register_container">
        <div class="title">
            <h1>Create account</h1>
        </div>

        <div class="form_container">
            <form>

                <div class="double_input_box">
                    <div class="input_box">
                        <label>Name</label>
                        <input placeholder="Enter your name" />
                        <p class="error_form"></p>
                    </div>

                    <div class="input_box">
                        <label>Lastname</label>
                        <input placeholder="Enter your lastname" />
                        <p class="error_form"></p>
                    </div>
                </div>


                <div class="input_box">
                    <label>Email</label>
                    <input placeholder="Enter your email" />
                    <p class="error_form"></p>
                </div>

                <div class="input_box">
                    <label>Phone number</label>
                    <input placeholder="Enter your phone number" />
                    <p class="error_form"></p>
                </div>

                <div class="input_box">
                    <label>Password</label>
                    <input placeholder="Enter your password" />
                    <p class="error_form"></p>
                </div>

                <div class="input_box">
                    <label>Password confirmation</label>
                    <input placeholder="Enter password again" />
                    <p class="error_form"></p>
                </div>

                <div class="button_container">
                    <button>Register</button>
                </div>

            </form>
        </div>

    </div>
</section>