* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, a, input, label, div {
    margin: 0;
    padding: 0;
}

footer {
    display: none;
}

header {
    display: none;
}

body {
    background-image: url(../images/RegisterPageBacground.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register{
    display:flex;
    justify-content:center;
    padding: 2em 0;
    min-height: 100vh;
}

.register .register_container{
    width:100%;
    max-width: 600px;
    background-color: white;
    border-radius: 3em;
}

.register .title h1{
    text-align:center;
    padding: 1em 0 0.5em 0;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 3.5rem;
    color: #2c48af;
}

.form_container{
    display:flex;
    justify-content:center;
}

form{
    width:100%;
    max-width: 550px;
}

.double_input_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.phone_number_input {
    display: grid;
    grid-template-columns: 30% 70%;
}

label {
    display: block;
    text-align: center;
    letter-spacing: 2px;
    margin: 0.2em 0;
    font-weight: 600;
}

.input_box{
    margin: 0.5em 0;
}

input {
    width: 100%;
    border: none;
    background-color: rgba(77, 86, 193, 0.60);
    padding: 0.7em 0;
    color: white;
    text-align: center;
    border-radius: 30px;
    transition: 0.5s;
}

input:focus {
    outline: unset;
    background-color: rgba(77, 86, 193, 0.80);
}

input::placeholder {
    color: #cbf5fc;
}


.input_box{
    padding: 0 1em;
}

.error_form {
    height: 10px;
    color: #c32424;
    font-weight: 600;
    font-size: 0.7rem;
    text-align: center;
    padding: 5px 0;
}

.button_container {
    padding: 0 1em;
    margin-top: 3em;
}

.button_container button {
    border: unset;
    background-color: #4d56c1;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    padding: 0.5em;
    transition: 0.5s;
}

.button_container button:hover{
    background-color:#4f59ca;
    transform: translateY(-1px);
}
