@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="~/css/main_feed_style.css" />
</head>

<section class="page_container">
    <div class="left_panel">

    </div>

    <div class="feed">
        <div class="feed_container">

            <div class="post">
                <div class="post_container">

                    <div class="title_post">
                        <h1>Giro rozpoczynam pod wiatr</h1>
                    </div>

                    <div class="post_creator">
                        <div class="creator_img">
                            <img src="~/post_images/biker.jpg"/>
                        </div>
                        <div class="creators_name">
                            <p>
                                Mateusz Owczarek
                            </p>
                            <p>
                                3day
                            </p>
                        </div>
                    </div>

                    <div class="post_message">
                        <p>
                            Giro rozpoczynam pod wiatr.
                            Warunki w końcowej fazie etapu zmieniły się i były naprawdę ciężkie. Na rekonesansie mogłem rozpędzić się do 90 km/h,  podczas etapu ciężko było wykręcić i utrzymać 75 km/h.
                            Strata czasowa do głównych faworytów jest widoczna i nie potrzeba do tego zaawansowanej matematyki. Taki jest Grand Tour, dlatego trzeba jechać swoje i szukać szans na odrobienie strat w następnych dniach.
                        </p>
                    </div>

                    <div class="post_image_container">
                        <img src="~/post_images/biker.jpg" alt="biker.jpg"/>
                    </div>

                    <div class="post_rating_container">
                        <div class="post_rates">
                            <div class="likes_rate_post">
                                <p>100 (L)</p>
                            </div>

                            <div class="dislikes_rate_post">
                                <p>10 (DL)</p>
                            </div>
                        </div>

                        <div class="comments_rate">
                            <p>
                                20 Comments
                            </p>
                        </div>
                    </div>

                    <div class="actions_post">
                        <button>Like</button>
                        <button>Dislike</button>
                    </div>

                    <div class="create_comment">
                        <div class="create_comment_container">
                            <div class="c_c_user_image">
                                <img src="~/post_images/biker.jpg"/>
                            </div>
                            <div class="input_box_create_comment">
                                <input placeholder="Write a comment"/>
                            </div>
                        </div>
                    </div>

                    <div class="comments_feed">
                        <div class="top_comment">
                            <div class="user_coment_image">
                                <img src="~/post_images/biker.jpg" />
                            </div>
                            <div class="comment">
                                <p>
                                    Michal Kajdas
                                    Solo pod wiatr nie nafika człek. 😉 Niech noga podaje zgodnie z życzeniami a kraksy niech się trzymają z daleka! Powodzenia!
                                </p>
                            </div>
                            <div class="comment_actions">
                                <div class="comment_like">
                                    <p>(L)</p>
                                </div>
                                <div class="comment_dislike">
                                    <p>(DL)</p>
                                </div>
                                <div class="time_of_creation">
                                    <p>3days</p>
                                </div>
                                <div class="comment_rates">
                                    <div class="likes_rate_comment">
                                        <p>100 (L)</p>
                                    </div>

                                    <div class="dislikes_rate_comment">
                                        <p>10 (DL)</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="more_comments">
                            <p>Load more comments</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="right_panel">

    </div>
</section>